altair
attrs
blinker
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dnspython
fonttools
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numexpr
numpy==1.26.4
packaging
pandas==2.2.1
patsy==0.5.3
pillow
plotly
protobuf==3.20.3
pyarrow
pycparser
pydeck
Pygments
pymongo==4.6.3
pyparsing
PySocks
python-dateutil
pytz
referencing
requests
rich
rpds-py
scipy==1.13.0
setuptools==69.5.1
six
smmap
statsmodels
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
unicodedata2
urllib3
wheel==0.43.0
